/*general*/
*{
    margin: 0px;
    padding: 0px;
}
body{
   
    background-color: #FFF8DC;
    border: 1px solid rgb(177, 175, 175);
}
#body{
    display: flex;
}
/*entête*/
header{
    display: flex;
}
#photo{
    background:#CD5C5C;
    width: 33%;
    height: 400px;
}
img{
    
    width: 220px;
    height:220px;
    border-radius:100%;
    border:solid 5px #37474F42 ;
    object-fit: cover;
    display: flex;
    margin:auto;
    margin-top: 62px;
    
}
#title{
    width: 67%;
}
#title h1  {
    margin-left: 8%;
    margin-top: 100px;
    font-size: 2.6em;
    text-transform: uppercase;
}
#title h1 span{
    
    color:#CD5C5C ;
    font-weight: bold;
}
#title h2{
    margin-left: 8%;
    font-size: 1.25em;
    color: #37474F;
    margin-top: 5px;
    
}
.min-divider{
    width: 55px;
    height: 2px;
    margin-left: 8%;
    background-color:#CD5C5C;
}

/*aside*/

aside{
    min-height: 100vh;
    width: 33%;
    background-color:#CD5C5C;
}

.asidetitle{
    background-color:#37474F;
    padding: 1em;
}
.asidetitle h3{
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    color: #CD5C5C;
}
#contact{
    background:#CD5C5C;
    width: 100%;
    height: 400px;
    
}
#contact p{
    margin-left: 20px;
    font-size: 1.2em;
    color: #37474F;
    
}
#contact p:nth-child(2){
    margin-top: 30px;
}
#about{
    background:#CD5C5C;
    width: 100%;
    height: 650px;
}
#about-txt{
    width: 90%;
    word-wrap: break-word;
    margin:20px auto;

}
#about-txt p{
    font-size: 1.2em;
    color: #37474F;
    text-align: justify;
}
#hobbies{
    background:#CD5C5C;
    width: 100%;
    height: 150px;
}
#hobbies #icon{
    width: 100%;
    margin-top: 20px;
    display: flex;
    margin: auto;
}
#hobbies #icon div{
    border: 2px solid  #37474F ;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    margin-top: 20px;
}
#hobbies  #icon div i{
    font-size: 50px;
    color:#37474F ;
    margin-top: 20px;
    margin-left: 15px ;
    transform: scale(1);

    
}
#hobbies #icon div:hover{
    transform: scale(1.3);
    box-shadow: 6px 6px 6px  #000000;
    transition-duration:0.7s;
}
/*div principal*/
 /*formation/experience*/
 section{
     margin-left: 8%;
 }
 section h3{
   
    font-size: 2.1em;
}

section h3 i{
    color: #CD5C5C;
    margin-right: 20px;
   margin-top: 30px;
}
.divider{
   background-color:#CD5C5C;
   height: 2px;
   width: 57%;
   
   position: absolute;
}
ul{
    margin-top: 30px;
}
.resp{
    display: flex;
   margin-bottom: 40px;
   margin-top: 60px;
}
.item{
    display: flex;
    width: 30%;
}
li{
    
    list-style: none;
}
.resp i{
    width: 40px;
    color: #CD5C5C;
    
}
.second{
    font-size: 0.7em;
}
.date{
    width: 100px;
    
}
.date p{
    font-size: 1.2em;
    color: #37474F;
}
.txt {
    
    width: 50%;
    
    word-wrap: break-word;
}
.txt p{
    font-size: 1.2em;
    color: #37474F;
}
.txt h5{
    font-size: 1.4em;
    color: #37474F;
}
.txt h4{
    font-size: 1.6em;
    color: #37474F;
}
main{
    width: 66%;
}

/*recommendation*/

.recom{
   margin:40px 0px;
   display: flex;
   
}
.recom div{
   width: 50%;
}
.recom div h5{
   font-size: 1.3em;
   color: #37474F;
}
.recom div p{
   font-size: 1.2em;
   color: #37474F;
}
/*écran a partir de 900px(grande tablette)*/
@media screen and (max-width:900px){
    .recom,.resp{
        flex-direction: column;
    }
    aside{
        min-height: 100vh;;
    }
    .txt {
        margin-top: 20px;
        width: 80%;
        
        word-wrap: break-word;
        margin-left: 40px;
    }
    .recom div{
        margin-top: 20px;
        margin-left: 40px;
    }
    div h1{
        font-size: 2.5em;
    }
    #hobbies{
        height: 370px;
    }

}
/*écran a partir de 770px*/
@media screen and (max-width:770px){
    header{
        flex-direction: column;
        width: 100%;
    }
    #title{
        width: 100%;
        order: 1;
        width: 100%;
        margin-bottom: 30px;
    }
    #title h1{
      font-size: 1.9em;
  }
    #photo{
        order: 2;
        width: 100% ;
    } 
    .divider{
        width: 90%;
    }
    #body{
       flex-direction: column;
    }
    aside{
        order: 2;
        width: 100%;
    }
    main{
      order: 1;
      width: 100%;
  
    }

    .item{
        display: flex;
        width: 70%;
    }
    section h3{
    
        font-size: 1.5em;
    }
    h3 span{
        margin-left: 50px;
    }
  
  }